<div class="device-container">
  <div class="form-container">
    <h3 class="h2">パスワードの変更手続き</h3>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="gp-text-red">
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>

      <p class="gp-text-bold">パスワードを忘れたアカウントのメールアドレスを入力してください</p>

      <div class="field">
        <%= f.label :メールアドレス, class: "label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"device-input-itme"  %>
      </div>

      <div class="actions">
        <%= f.submit "メールを送信する" %>
      </div>
  
    <% end %>
    
    <div class="link-container">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
