<div class="gp-back-to-index-container">
  <div class="gp-back-to-index-button">
    <%= link_to "お知らせ一覧に戻る", index_information_path, class: "gp-back-to-index-button-text"%>
  </div>
</div>

<div class="post-form-body">
  <div class="post-form-container">
    <h3 class="h3">お知らせを編集してください</h3>
    <%= form_with(url: update_information_path, model: @information, local: true, method: :post, html: { class: 'post-form' }  ) do |f| %>
      
      <% if @information.errors.any? %>
        <ul>
          <% @information.errors.full_messages.each do |message| %>
            <li class="gp-text-red">・<%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="form-group info-image-upload">
        <%= f.label "画像", class: 'form-label' %>
        <div class="image-preview" id="imagePreview">
          <img src="<%= @information.image.attached? ? url_for(@information.image) : "" %>" alt="Image Preview" class="image-preview__image <%= @information.image.attached? ? "-block" : "" %>">
          <span class="image-preview__default-text <%= @information.image.attached? ? "-none" : "" %>">No image uploaded</span>
        </div>
        <%= f.file_field :image, class: 'form-control-file', id: 'imageUpload' %>
      </div>
        
      <div class="form-group">
        <%= f.label "タイトル", class: 'form-label' %>
        <%= f.text_field :title, value: @information.title, class: 'form-control' %>
      </div>
        
      <div class="form-group">
        <%= f.label "公開設定", class: 'form-label'  %>
        <div class="form-select-control">
          <% choices = [["公開", "公開"], ["非公開", "非公開"]] %>
          <%= f.select :public_or_private, options_for_select(choices, @information.public_or_private), {include_blank: "選択して下さい"}, {class: "form-select-control-item"} %>
        </div>
      </div>

      <p></p>

      <div class="button-group">
        <%= f.submit '更新する', class: 'gp-button gp-background-orange gp-button-text' %>
        <%= link_to '投稿を削除する', destroy_information_path(@information), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "gp-button gp-background-blue gp-button-text" %>
      </div>
      
    <% end %>
  </div>
</div>