<div class="gp-index-body">

  <div class="post-info-container">
    <div class="swiper">
      <div class="swiper-wrapper">

        <% @open_informations.each do |open_information| %>
          <div class="swiper-slide">
            <%= image_tag(open_information.image) %>
          </div>
        <% end %>
        
      </div>
      <!-- ページネーション -->
      <div class="swiper-pagination"></div>
      <!-- 前後の矢印 -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>

  <h3 class="gp-index-heading">イベント一覧</h3>

  <% i = 0 %>
  <% @posts.each do |post| %>
    <% remaining = @remaining_array[i] %>

    <% if post.posting_start_time < Time.zone.now %>
      <% if post.posting_end_time > Time.zone.now %>

        <div class="gp-line"></div>
        
        <a class="gp-index-item-container" href="<%= show_post_path(post) %>">

          <div class="gp-index-image-container">
            <% if post.image.attached? %>
              <%= image_tag(post.image, class: "gp-index-image") %>
            <% else %>
              <%= image_tag 'no_image.png' ,class: "gp-index-image" %>
            <% end %>

            <% if remaining == 0 %>
              <span class="gp-index-image-recruitment_number">SOLD&nbsp;OUT</span>
            <% else %>
              <span class="gp-index-image-recruitment_number"><%= remaining %>名募集中</span>
            <% end %>
            <% remaining_days = (post.posting_end_time - Time.zone.now).to_i / 1.day %>
            <% if remaining_days.floor == 0 %>
              <!--<span class="gp-index-item-image-remaining_days"><%= post.posting_end_time.strftime("%m/%d %H:%M") %>まで</span>-->
              <span class="gp-index-image-remaining_days">残り<%= ((post.posting_end_time - Time.zone.now)/3600).floor %>時間<%= (((post.posting_end_time - Time.zone.now)%3600)/60).floor %>分</span>
            <% else %>
              <span class="gp-index-image-remaining_days">募集期間:残り<%= remaining_days.floor %>日</span>
            <% end %>
          </div>

          <div class="gp-index-item-list-container">
            <span class="gp-text-bold gp-text-black"><%= post.title %></span>
            <span class="gp-text-black gp-font-size-14px">開催日&nbsp;<%= ":"%>&nbsp;<%= post.event_date.strftime("%Y年%m月%d日(") + case post.event_date.strftime("%A")
              when "Sunday"
                "日"
              when "Monday"
                "月"
              when "Tuesday"
                "火"
              when "Wednesday"
                "水"
              when "Thursday"
                "木"
              when "Friday"
                "金"
              when "Saturday"
                "土"
              else
                ""
            end + ")" %></span>
            <span class="gp-text-black gp-font-size-14px">時間&emsp;&nbsp;<%= ":"%>&nbsp;<%= post.event_start_time.strftime("%H時%M分") %>〜<%= post.event_end_time.strftime("%H時%M分") %></span>
            <span class="gp-text-black gp-font-size-14px">場所&emsp;&nbsp;<%= ":"%>&nbsp;<%= post.venue %></span>
            <span class="gp-text-black gp-font-size-14px">内容&emsp;&nbsp;<%= ":"%>&nbsp;<%= post.category %></span>
            <span class="gp-text-black gp-font-size-14px">参加費&nbsp;<%= ":"%>&nbsp;<%= post.price %>円</span>
          </div>

        </a>
      <% end %>
    <% else %>
      <% if user_signed_in? %>
        <% if current_user.usertype > 60 %>
          
          <div class="gp-line"></div>
          
          <a class="gp-index-item-container" href="<%= show_post_path(post) %>">

            <div class="gp-index-image-container">
              <% if post.image.attached? %>
                <%= image_tag(post.image, class: "gp-index-image") %>
              <% else %>
                <%= image_tag 'no_image.png' ,class: "gp-index-image" %>
              <% end %>

              <% if remaining == 0 %>
                <span class="gp-index-image-recruitment_number">SOLD&nbsp;OUT</span>
              <% else %>
                <span class="gp-index-image-recruitment_number"><%= remaining %>名募集中</span>
              <% end %>
              <span class="gp-index-image-remaining_days">予約開始前</span>
            </div>

            <div class="gp-index-item-list-container">
              <span class="gp-text-bold gp-text-black"><%= post.title %></span>
              <span class="gp-text-black gp-font-size-14px">開催日&nbsp;<%= ":"%>&nbsp;<%= post.event_date.strftime("%Y年%m月%d日(") + case post.event_date.strftime("%A")
                when "Sunday"
                  "日"
                when "Monday"
                  "月"
                when "Tuesday"
                  "火"
                when "Wednesday"
                  "水"
                when "Thursday"
                  "木"
                when "Friday"
                  "金"
                when "Saturday"
                  "土"
                else
                  ""
              end + ")" %></span>
              <span class="gp-text-black gp-font-size-14px">時間&emsp;&nbsp;<%= ":"%>&nbsp;<%= post.event_start_time.strftime("%H時%M分") %>〜<%= post.event_end_time.strftime("%H時%M分") %></span>
              <span class="gp-text-black gp-font-size-14px">場所&emsp;&nbsp;<%= ":"%>&nbsp;<%= post.venue %></span>
              <span class="gp-text-black gp-font-size-14px">内容&emsp;&nbsp;<%= ":"%>&nbsp;<%= post.category %></span>
              <span class="gp-text-black gp-font-size-14px">参加費&nbsp;<%= ":"%>&nbsp;<%= post.price %>円</span>
            </div>

          </a>
          
        <% end %>
      <% end %>
    <% end %>
    <% i = i + 1 %>
  <% end %>
  <div class="gp-line"></div>
</div>
