<div class="gp-back-to-index-container">
  <div class="gp-back-to-index-button">
    <%= link_to "イベント一覧に戻る", index_post_path, class: "gp-back-to-index-button-text"%>
  </div>
</div>

<div class="post-form-body">
  <div class="post-form-container">
    <h2>投稿内容を入力してください</h2>
    <%= form_with(url: create_post_path, model: @post, local: true, method: :post, html: { class: 'post-form' }  ) do |f| %>
      
      <% if @post.errors.any? %>
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="form-group image-upload">
        <%= f.label "画像", class: 'form-label' %>
        <div class="image-preview" id="imagePreview">
          <img src="" alt="Image Preview" class="image-preview__image">
          <span class="image-preview__default-text">Image will be displayed here</span>
        </div>
        <%= f.file_field :image, class: 'form-control-file', id: 'imageUpload' %>
      </div>
        
      <div class="form-group">
        <%= f.label "タイトル", class: 'form-label' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
        
      <div class="form-group">
        <%= f.label "競技名", class: 'form-label'  %>
        <%= f.select :category, [["バレーボール", "バレーボール"], ["バトミントン", "バトミントン"], ["フットサル", "フットサル"], ["ハンドボール", "ハンドボール"], ["卓球", "卓球"], ["ドッジボール", "ドッジボール"], ["野球", "野球"], ["サッカー", "サッカー"], ["テニス", "テニス"], ["その他", "その他"]], {include_blank: "選択して下さい"}, {class: "form-select-control"} %>
        <!--f.select :保存先のカラム名, [["選択肢１", "実際にDBに保存させる内容"], ["選択肢２", "実際にDBに保存させる内容"]], include_blank: "選択して下さい"-->
      </div>

      <div class="form-group">
        <%= f.label "開催日", class: 'form-label' %>
        <div class="form-side-by-side-group">
          <%= f.date_select(:event_date, {}, {class: "form-date_select-control"}) %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "開始時間", class: 'form-label' %>
        <div class="form-side-by-side-group">
          <%= f.time_select(:event_start_time, {}, {class: "form-date_select-control"}) %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "終了時間", class: 'form-label' %>
        <div class="form-side-by-side-group">
          <%= f.time_select(:event_end_time, {}, {class: "form-date_select-control"})  %>
        </div>
      </div>
        
      <div class="form-group">
        <%= f.label "開催場所", class: 'form-label' %>
        <%= f.text_field :venue, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label "住所", class: 'form-label' %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>
        
      <div class="form-group">
        <%= f.label "募集人数", class: 'form-label' %>
        <div class="form-side-by-side-group">
          <%= f.text_field :recruitment_numbers, min: 1, class: 'form-number-control' %>
          <span class='form-label'>名</span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "価格", class: 'form-label' %>
        <div class="form-side-by-side-group">
          <%= f.text_field :price, class: 'form-number-control' %>
          <span class='form-label'>円</span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "内容", class: 'form-label' %>
        <%= f.text_area :content, class: 'form-text-control' %>
      </div>
        
      <div class="form-group">
        <%= f.label "公開日時", class: 'form-label' %>
        <div class="form-side-by-side-group">
          <%= f.datetime_select(:posting_start_time, {}, {class: "form-date_select-control"}) %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "公開終了日時", class: 'form-label' %>
        <div class="form-side-by-side-group">
          <%= f.datetime_select(:posting_end_time, {}, {class: "form-date_select-control"})  %>
        </div>
      </div>

      <div class="button-group">
        <%= f.submit '投稿する', class: 'gp-button gp-background-blue gp-button-text' %>
      </div>
      
    <% end %>
  </div>
</div>