<div class="gp-back-to-index-container">
  <div class="gp-back-to-index-button">
    <%= link_to "イベント一覧に戻る", index_post_path, class: "gp-back-to-index-button-text"%>
  </div>
</div>

<div class="show-body">
  <div class="show-upper-container">

    <div class="show-image-container">
      <% if @post.image.attached? %>
        <%= image_tag(@post.image, class: "show-image") %>
      <% else %>
        <%= image_tag 'no_image.png' ,class: "show-image" %>
      <% end %>
    </div>

    <table>
      <tr>
        <th class=th-post-show>イベント名</th> <td class=td-post-show> <%= @post.title %></td>
      </tr>

      <tr>
        <th class=th-post-show>開催日</th> <td class=td-post-show> <%= @post.event_date.strftime("%Y年%m月%d日(") + case @post.event_date.strftime("%A")
          when "Sunday"
            "日"
          when "Monday"
            "月"
          when "Tuesday"
            "火"
          when "Wednesday"
            "水"
          when "Thursday"
            "木"
          when "Friday"
            "金"
          when "Saturday"
            "土"
          else
            ""
        end + ")" %></td>
      </tr>

      <tr>
        <th class=th-post-show>時間</th> <td class=td-post-show> <%= @post.event_start_time.strftime("%H時%M分") %>〜<%= @post.event_end_time.strftime("%H時%M分") %> </td>
      </tr>

      <tr>
        <th class=th-post-show>場所</th> <td class=td-post-show> <%= @post.venue %> </td>
      </tr>

      <tr>
        <th class=th-post-show>住所</th> <td class=td-post-show> <%= @post.address %> </td>
      </tr>

      <tr>
        <th class=th-post-show>内容</th> <td class=td-post-show> <%= @post.category %> </td>
      </tr>

      <tr>
        <th class=th-post-show>募集人数</th> <td class=td-post-show> <%= @post.recruitment_numbers %>名（残り<%= @remaining %>名）</td>
      </tr>

      <tr>
        <th class=th-post-show>参加費</th> <td class=td-post-show> <%= @post.price %>円</td>
      </tr>

      <tr>
        <th class=th-post-show>投稿者</th ><td class=td-post-show> <%= link_to @contributor.name, show_contributor_path(params[:id]) %> </td>
      </tr>
    </table>
  </div>
   
  <div class="show-lower-container">

    <span class="show-heading">&nbsp;イベント詳細&nbsp;</span>
    
    <div class="show-detail-container">
      <span> <%= safe_join(@post.content.split("\n"),tag(:br))%></span>
    </div>

    <!-- modal button -->
    <% if user_signed_in? %>
      <button class="show-order-button show-order-button-text js-button" data-target="#modal<%= @post.id %>">予約する</button>
    <% else %>
      <%= button_to "予約する", new_user_session_path, method: :get, class: "show-order-button show-order-button-text" %>
    <% end %>

    <!-- modal -->
    <div id="modal<%= @post.id %>" class="modal js-modal">
      <div class="modal-layer">
        <div class="modal-container">          
          <% if @user.usertype == 0 %>
            <span> 運営側の判断により予約を制限しています。</span>
            <div class="modal-button-container">
              <button class="modal-close-button js-close-button">
                <%= link_to "戻る", show_post_path, class: "modal-button-text" %>
              </button>
            </div>
          <% else %>
            <%= form_with(url: create_order_path, model: @order, local: true, method: :post, html: { class: "post-form" } ) do |f| %>            
              
              <div class="modal-field-container">
                <%= f.label "予約人数を入力してください", class: "modal-text" %>
                <span class=modal-text><%= f.select :number_of_orders, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5], [6, 6], [7, 7], [8, 8], [9, 9], [10, 10], [11, 11], [12, 12], [13, 13], [14, 14], [15, 15], [16, 16], [17, 17], [18, 18], [19, 19], [20, 20]], {}, {class: "modal-field"} %>&nbsp;名</span>
              </div>
                          
              <div class="modal-button-container">
                <%= f.submit "予約する" ,class: "modal-order-button modal-button-text js-close-button" %>
            <% end %>
                <%= button_to "戻る", show_post_path(@post.id), method: :get, class: "modal-close-button js-close-button modal-button-text" %>
              </div>
              
          <% end %>
        </div>
      </div>
    </div>

    <span class="show-text">予約終了日時：<%= @post.posting_end_time.strftime("%Y年%m月%d日%H時%M分") %> </span>

    <p></p>

    <% if @post.instagram_url.blank? && @post.line_url.blank? && @post.facebook_url.blank? && @post.youtube_url.blank? && @post.note_url.blank? && @post.x_url.blank? %>
    <% else %>
      <span class="show-heading">&nbsp;イベント関連のSNS&nbsp;</span>

      <div class="sns-container">
      
        <% if @post.instagram_url.present? %>
          <div class="sns-image-container">
            <%= link_to @post.instagram_url, target: :_blank, rel: "noopener noreferrer" do%>
              <%= image_tag 'instagram.png' ,class: "sns-img" %>
            <% end %>
          </div>
        <% end %>
        
        <% if @post.line_url.present? %>
          <div class="sns-image-container">
            <%= link_to @post.line_url, target: :_blank, rel: "noopener noreferrer" do%>
              <%= image_tag 'line.png' ,class: "sns-img" %>
            <% end %>
          </div>
        <% end %>

        <% if @post.facebook_url.present? %>
          <div class="sns-image-container">
            <%= link_to @post.facebook_url, target: :_blank, rel: "noopener noreferrer" do%>
              <%= image_tag 'facebook.png' ,class: "sns-img" %>
            <% end %>
          </div>
        <% end %>

        <% if @post.x_url.present? %>
          <div class="sns-image-container">
            <%= link_to @post.x_url, target: :_blank, rel: "noopener noreferrer" do%>
              <%= image_tag 'x.png' ,class: "sns-img" %>
            <% end %>
          </div>
        <% end %>

        <% if @post.note_url.present? %>
          <div class="sns-image-container-note-youtube">
            <%= link_to @post.note_url, target: :_blank, rel: "noopener noreferrer" do%>
              <%= image_tag 'note.png' ,class: "sns-img" %>
            <% end %>
          </div>
        <% end %>

        <% if @post.youtube_url.present? %>
          <div class="sns-image-container-note-youtube">
            <%= link_to @post.youtube_url, target: :_blank, rel: "noopener noreferrer" do%>
              <%= image_tag 'youtube.png' ,class: "sns-img" %>
            <% end %>
          </div>
        <% end %>
      
      </div>

    <% end %>

  </div>
</div>