<div class="gp-back-to-index-container">
  <div class="gp-back-to-index-button">
    <%= link_to "投稿一覧に戻る", index_post_reservation_holder_path, class: "gp-back-to-index-button-text"%>
  </div>
</div>

<div class="post-form-body">
  <div class="post-form-container">
    <h3>参加者一覧</h3>

    <span>・個人情報の取り扱いに十分注意してください</span>
    <span>・参加人数を入力し、登録ボタンを押下すると、支払い状況が「支払済」になります</span>
    <p></p>
    <table>
      <tr>
        <th class="th-reservation-user width-reservation-userid"> <%= "ID" %></th>
        <th class="th-reservation-user width-reservation-name"> <%= "氏名" %></td>
        <th class="th-reservation-user width-reservation-number_of_orders"> <%= "予約人数" %></td>
        <th class="th-reservation-user width-reservation-price"> <%= "参加費" %></td>
        <th class="th-reservation-user width-reservation-results"> <%= "参加人数" %></td>
        <th class="th-reservation-user width-reservation-update"> <%= "登録" %></td>
        <th class="th-reservation-user width-reservation-payment_status"> <%= "支払い状況" %></td>
      </tr>
      <% i = 0 %>
      <% @users.each do |user| %>
        <% order = @orders[i] %>
        <%= form_with(url: update_order_reservation_holder_path(order), model: order, local: true, method: :post, html: { class: 'post-form' }  ) do |f| %>
          <% if order.errors.any? %>
            <ul>
              <% order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
          <tr>
            <th class="th-reservation-user width-reservation-userid"> <%= user.id %></th>
            <td class="td-reservation-user width-reservation-name"> <%= user.name %></td>
            <td class="td-reservation-user width-reservation-number_of_orders"> <%= order.number_of_orders %></td>
            <td class="td-reservation-user width-reservation-price"> <%= @post.price * order.number_of_orders %>円</td>
            <% if order.payment_status == "支払済" %>
              <td class="td-reservation-user width-reservation-results"> <%= f.number_field :results, value: order.results, min: 0, class: 'form-control no-spin' %></td>
              <td class="td-reservation-user width-reservation-update"> <%= f.submit '登録', class: 'reservation-button reservation-background-blue reservation-button-text' %></td>
              <td class="td-reservation-user width-reservation-payment_status"> <%= order.payment_status %></td>
            <% else %>
              <td class="td-reservation-user width-reservation-results"> <%= f.number_field :results, value: order.number_of_orders, min: 0, class: 'form-control no-spin' %></td>
              <td class="td-reservation-user width-reservation-update"> <%= f.submit '登録', class: 'reservation-button reservation-background-blue reservation-button-text' %></td>
              <td class="td-reservation-user width-reservation-payment_status-red"> <%= "未払い" %></td>
            <% end %>
          </tr>
        <% end %>
        <% i = i + 1 %>
      <% end %>
    </table>
    <p></p>
    <span>合計参加人数：<%= @number_of_participants %>名&emsp;合計受領金額：<%= @payment_price %>円</span>
    
  </div>
</div>