<div class="gp-back-to-index-container">
  <div class="gp-back-to-index-button">
    <%= link_to "イベント一覧に戻る", index_post_path, class: "gp-back-to-index-button-text"%>
  </div>
</div>

<div class="post-form-body">
  <div class="post-form-container">
    <p></p>
    <!--　利用規約 -->
    <div class="device-image-container">
      <%= image_tag '1-8.png' ,class: "device-image" %>
      <%= image_tag '2-8.png' ,class: "device-image" %>
      <%= image_tag '3-8.png' ,class: "device-image" %>
      <%= image_tag '4-8.png' ,class: "device-image" %>
      <%= image_tag '5-8.png' ,class: "device-image" %>
      <%= image_tag '6-8.png' ,class: "device-image" %>
      <%= image_tag '7-8.png' ,class: "device-image" %>
      <%= image_tag '8-8.png' ,class: "device-image" %>
    </div>
  </div>
</div>