<div class="show-button-container">
  <div class="show-button">
    <%= link_to "イベント一覧に戻る", index_post_path, class: "show-button-text"%>
  </div>
</div>

<div class="post-form-body">
  <div class="post-form-container">
    <h2>編集画面</h2>
    <%= form_with(url: update_contributor_path, model: @contributor, local: true, method: :post, html: { class: 'post-form' }  ) do |f| %>
      
      <% if @contributor.errors.any? %>
        <ul>
          <% @contributor.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="form-group image-upload">
        <%= f.label "画像", class: 'form-label' %>
        <div class="image-preview" id="imagePreview">
          <img src="<%= @contributor.image.attached? ? url_for(@contributor.image) : "" %>" alt="Image Preview" class="image-preview__image <%= @contributor.image.attached? ? "-block" : "" %>">
          <span class="image-preview__default-text <%= @contributor.image.attached? ? "-none" : "" %>">No image uploaded</span>
        </div>
        <%= f.file_field :image, class: 'form-control-file', id: 'imageUpload' %>
      </div>
        
      <div class="form-group">
        <%= f.label "投稿者名", class: 'form-label' %>
        <%= f.text_field :name, value: @contributor.name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label "自己紹介", class: 'form-label' %>
        <%= f.text_area :self_introduction, value: @contributor.self_introduction, class: 'form-control' %>
      </div>
      
      <div class="button-group">
        <%= link_to '投稿者アカウント削除', destroy_contributor_path(@contributor), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "inquiries-button inquiries-button-text" %>
        <%= f.submit '更新する', class: 'inquiries-orange-button inquiries-button-text' %>
      </div>
    
    <% end %>
  </div>
</div>