<div class="gp-back-to-index-container">
  <div class="gp-back-to-index-button">
    <%= link_to "イベント一覧に戻る", index_post_path, class: "gp-back-to-index-button-text"%>
  </div>
</div>

<!-- body -->
<div class="gp-index-body">

  <h2 class="gp-index-heading-2">予約イベント一覧</h2>

  <% @posts.each do |post| %>

        <div class="gp-line"></div>
        
        <a class="gp-index-item-container" href="<%= edit_post_path(post) %>">
          <div class="item-image-container">
            <% if post.image.attached? %>
              <%= image_tag(post.image, class: "item-image") %>
            <% else %>
              <%= image_tag 'sample_no_image.jpg' ,class: "item-image" %>
            <% end %>
          </div>

          <span class="gp-text-bold gp-text-black"><%= post.title %></span>
          <span class="gp-text-black">開催日時：<%= l post.event_date %><%= post.event_start_time.strftime("%H時%M分") %>〜<%= post.event_end_time.strftime("%H時%M分") %></span>
          <span class="gp-text-black">開催場所：<%= post.venue %></span>
          <span class="gp-text-black">競技：<%= post.category %></span>
          <span class="gp-text-black">参加費：<%= post.price %>円</span>
          <span class="gp-text-black">募集人数：<%= post.recruitment_numbers %>名</span>
        </a>
      <% end %>
    <% end %>
  <% end %>
  <div class="gp-line"></div>
</div>
