<div class="gp-back-to-index-container">
  <div class="gp-back-to-index-button">
    <%= link_to "イベント一覧に戻る", index_post_path, class: "gp-back-to-index-button-text"%>
  </div>
</div>

<div class="post-form-body">
  <div class="post-form-container">
    <h3>投稿者の情報を入力してください</h3>
    <%= form_with(url: create_contributor_path, model: @contributor, local: true, method: :post, html: { class: 'post-form' }  ) do |f| %>
      
      <% if @contributor.errors.any? %>
        <ul>
          <% @contributor.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="form-group image-upload">
        <%= f.label "画像（1:1）", class: 'form-label' %>
        <div class="image-preview" id="imagePreview">
          <img src="" alt="Image Preview" class="image-preview__image">
          <span class="image-preview__default-text">Image will be displayed here</span>
        </div>
        <%= f.file_field :image, class: 'form-control-file', id: 'imageUpload' %>
      </div>
        
      <div class="form-group">
        <%= f.label "投稿者名", class: 'form-label' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label "自己紹介", class: 'form-label' %>
        <%= f.text_area :self_introduction, class: 'form-text-control' %>
      </div>

      <p></p>

      <div class="button-group">
        <%= f.submit '登録する', class: 'gp-button gp-background-blue gp-button-text' %>
      </div>
    
    <% end %>
  </div>
</div>