<div class="gp-back-to-index-container">
  <div class="gp-back-to-index-button">
    <!-- <%= link_to "イベント詳細に戻る", show_post_path(params[:id]), class: "gp-back-to-index-button-text"%>-->
    <%= link_to :back do %>
      <button class="gp-back-to-index-button-text">イベント詳細に戻る</button>
    <% end %>
  </div>
</div>

<div class="show-body">
  <div class="show-upper-container">

    <div class="show-image-container">
      <% if @contributor.image.attached? %>
        <%= image_tag(@contributor.image, class: "show-image") %>
      <% else %>
        <%= image_tag 'no_image.png' ,class: "show-image" %>
      <% end %>
    </div>
  
  </div>
   
  <div class="show-lower-container">
    <span class="show-heading">&nbsp;<%= @contributor.name%>&nbsp;さんの自己紹介&nbsp;</span>
    
    <div class="show-detail-container">
      <span> <%= safe_join(@contributor.self_introduction.split("\n"),tag(:br))%></span>
    </div>

    <span class="show-heading">&nbsp;運営しているサークル・イベント&nbsp;</span>
    <span class="gp-margin-10px"><%= @contributor.club_name1%></span>
    <span class="gp-margin-5px"><%= @contributor.club_name2%></span>
    <span class="gp-margin-5px"><%= @contributor.club_name3%></span>
    <span class="gp-margin-5px"><%= @contributor.club_name4%></span>
    <span class="gp-margin-5px"><%= @contributor.club_name5%></span>

  </div>
</div>